[submodule "lib/lmdb"]
	path = lib/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "lib/sds"]
	path = lib/sds
	url = https://github.com/antirez/sds
[submodule "lib/fs.c"]
	path = lib/fs.c
	url = https://github.com/jwerle/fs.c
[submodule "lib/cmocka"]
	path = lib/cmocka
	url = git://git.cryptomilk.org/projects/cmocka.git
