[submodule "lib/lmdb"]
	path = lib/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "lib/openssl"]
	path = lib/openssl
	url = https://github.com/openssl/openssl.git
[submodule "lib/klib"]
	path = lib/klib
	url = https://github.com/attractivechaos/klib.git
