[submodule "lib/lmdb"]
	path = lib/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "lib/klib"]
	path = lib/klib
	url = https://github.com/attractivechaos/klib.git
[submodule "lib/murmurhash.c"]
	path = lib/murmurhash.c
	url = https://github.com/jwerle/murmurhash.c.git
